{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="title" content="{{ metatitle }}">
    <meta name="description" content="{{ metadescription }}">
    <meta name="keywords" content="{{ metakeywords }}">
    <title>{% block title %}{% endblock %} {% trans 'ИГД' %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'fonts/source-sans-pro/source-sans-pro.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'fonts/source-serif-pro/source-serif-pro.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/igd.css' %}">
</head>
<body>
    <header>
        <div class="header-poly">
            <div class="content">
                    <div class="logo">
                        <a href="http://www.spbstu.ru/" target="_blank">
                            <svg class="poly" x="0px" y="0px" viewBox="0 0 55 55">
                                <path id="polyLogo" class="st0" d="M43.836,9.839c1.029,0.434,2.807,3.076,2.401,5.971  c-1.99,1.6-4.397,2.747-6.704,3.111v18.451h6.863c-0.016,2.832-0.438,5.104-0.909,5.93H32.902V19.211h-8.736v14.374  c0,7.244-4.095,10.828-9.298,10.828c-1.456,0-3.203-0.189-4.699-0.622c-0.688-0.947-1.042-3.745-1.116-7.234  c3.46,1.688,8.16,2.467,8.556-2.96V20.12c-5.269,0.582-7.214,4.265-9.011,6.715c0.034-3.307,0.215-6.27,0.37-8.281  c3.606-3.873,7.636-5.691,15.578-5.691h11.362C38.652,12.863,41.331,11.826,43.836,9.839 M27.689,4.554  c-10.218,0-14.343,0.63-14.343,0.63C8.964,5.366,5.89,8.369,5.428,13.497c0,0-0.734,6.701-0.734,14.418s0.734,14.418,0.734,14.418  c0.462,5.128,3.537,8.13,7.918,8.313c0,0,4.126,0.63,14.343,0.63s14.338-0.63,14.338-0.63c4.381-0.183,7.457-3.185,7.919-8.313  c0,0,0.734-6.426,0.734-14.418c0-7.717-0.734-14.418-0.734-14.418c-0.462-5.128-3.537-8.13-7.919-8.313  C42.028,5.184,37.907,4.554,27.689,4.554"/>
                            </svg>
                        </a>
                        <a href="/">
                            {% include 'include/logo.html' %}
                        </a>
                    </div>
                    <div class="mobile-menu" role="modal" data-target="#m-menu">
                    </div>
            </div>
            <div class="content">
                {% include "include/rubric-menu.html" %}
            </div>    
        </div>
        <div id="header-pic" class="header-egd">
            {% block top-carousel %}{% endblock %}
        </div>    
	</header>
	<main>
		<div class="container">
            <div class="content">{% block content %}{% endblock %}</div>
		</div>
	</main>
	<footer>
        <div class="footer-container">
            <div class="footer-content">
                <div class="address">
                    <ul>
                        <li>Россия, Санкт-Петербург,</li>
                        <li>Гражданский пр. 28,</li>
                        <li>5 этаж, комната 518</li>
                        <li><a href="mailto:design@spbstu.ru">design@spbstu.ru</a></li>
                    </ul>    
                </div>
                <div class="cumulus">
                    <p>Член Международной ассоциации университетов и колледжей искусств, дизайна и медиа
                    «Cumulus»</p>
                </div>    
            </div>
        </div>
        <div class="copy">
            <p>&copy; {% trans 'Кафедра инженерной графики и дизайна' %} 2017</p>
        </div>
    </footer>
    <div id="m-menu" class="modal">
        <div class="modal-wrapper">
            {% include "include/menu.html" %}
        </div>
    </div>
    {% block templates %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js'  %}"></script>
    <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
    {% block scripts %}{% endblock %}
    <script type="text/javascript">
        function drawFeed(json){
            var tmpl = $.templates("#newsitem_template"),
                html = tmpl.render(json); 
            $('.feed').html('');
            $('.feed').append(html);
        }

        function updateFeed(category){
            var data = {};
            if(category !== 'all'){
                data['category'] = category;
            }
            $.getJSON("{% url 'feed' %}", data, function(json){
                drawFeed(json);
            });
        }

        function showModal(m){
            $(m).fadeIn();
            $("[role=modal]").addClass("active");
        }

        function hideModal(){
            $(".modal").fadeOut();
            $("[role=modal]").removeClass("active");
        }
    {% block backscriptbody %}{% endblock %}
        $('document').ready(function(){
            {% block docready %}{% endblock %}
            
            $(".modal .modal-wrapper").children()[0].click(function(e){
                e.stopPropagation();
                return false;
            });
            
            $(".header-carousel").slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            dots:false,
            arrows:false,
            infinite: true,
            autoplay:true,
            autoplaySpeed: 5000,
            speed:500,
            fade:true,
            cssEase: 'linear'
            });

            $("[role=modal]").click(function(){
                showModal($(this).data("target"));
            });
           
            $(".modal .modal-wrapper").click(function(){
                hideModal();
            });         
            
            $(".drop h3").click(function(){
                $(this).toggleClass("collapsed");
                $(this).find("i").toggleClass("fa-rotate-180");
            });
        });
    </script>
</body>
</html>
