{% extends 'base/base.html' %}
{% load i18n %}
{% block title %}{{ degree.name_ru }} | {% endblock %}
{% block content %}
<div class="page-title">
    <h1>{{ degree.name_ru }}</h1>
</div>
<div class="form-title">
    <h2>{% trans 'Очная форма' %}</h2>
</div>
<div class="flex-block">
    {% for programm in form0 %}
        {% include 'include/flex-card.html' %}
    {% empty %}
        <p>{% trans 'Нет очных программ.' %}</p>
    {% endfor %}
</div>
<div class="form-title">
    <h2>{% trans 'Очная-заочная форма' %}</h2>
</div>
<div class="flex-block">
    {% for programm in form2 %}
       {% include 'include/flex-card.html' %}
    {% empty %}
    <p>{% trans 'Нет очно-заочных программ.' %}</p>
    {% endfor %}
</div>
<div class="form-title">
    <h2>{% trans 'Заочная форма' %}</h2>
</div>
<div class="flex-block">
    {% for programm in form1 %}
       {% include 'include/flex-card.html' %}
    {% empty %}
    <p>{% trans 'Нет заочных программ.' %}</p>
    {% endfor %}
</div>
{% endblock %}
{% block templates %}{% endblock %}
{% block scripts %}{% endblock %}
{% block docready %}{% endblock %}
