{% extends 'base/base.html' %}
{% load i18n staticfiles %}
{% block title %}{{ degree.name_ru }} | {% endblock %}
{% block top-carousel %}
            {% include "include/top-carousel.html" %}
{% endblock %}
{% block content %}
<div class="page-title">
    <h1>{{ degree.name_ru }}</h1>
</div>
{% if degree.id != 4%}
<div class="form-title">
    <h2>{% trans 'Очная форма' %}</h2>
</div>
{% endif%}
<div class="flex-block">
    {% for programm in form0 %}
        {% include 'include/flex-card.html' %}
    {% empty %}
        <p>{% trans 'Нет очных программ.' %}</p>
    {% endfor %}
</div>
{% endblock %}
{% block templates %}{% endblock %}
{% block scripts %}{% endblock %}
{% block docready %}{% endblock %}
