{% extends 'base/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Лаборатории' %} | {% endblock %}
{% block top-carousel %}
            {% include "include/img-carousel.html" %}
{% endblock %}
{% block content %}
<div class="page-title">
    <h1>{% trans 'Лаборатории' %}</h1>
</div>
<div class="flex-block">
    {% for lab in labs %}
    <div class="flex-card">
        <div class="title-pic-place">
            <a href="{% url 'lab' lab.slug %}"><div class="title-pic" style="background-image:url({{ lab.pic_url|default_if_none:'#' }})"></div></a>
        </div>
        <div class="title-title">    
            <h3>{{lab.name_ru}}</h3>
        </div>
        <div class="title-content">    
            <p>{{lab.short_ru}}</p>
        </div>
        <div class="title-actions">
            <p><a href="{% url 'lab' lab.slug %}" class="btn btn-white">{% trans 'Подробнее' %}</a></p>
        </div>
    </div>
    {% empty %}
    {% endfor %}
</div>
{% endblock %}
{% block templates %}{% endblock %}
{% block scripts %}{% endblock %}
{% block docready %}{% endblock %}
