{% extends 'base/base.html' %}
{% load staticfiles i18n %}
{% block title %}{% trans 'Новости' %} | {% endblock %}
{% block content %}
    <div class="featured-carousel" id="featured">
        <div class="featured-pic">
            <div class="featured-slide">
                <div class="featured-description">
                    <h2>ЭкоДизайн 2017</h2>
                    <p>7-я Международная конференция.<br> 
                    Японский дизайн, мониторинг глобальных экологических проблем средствами медиа- и графического дизайна.</p>
                    <p><a class="link" href=#!>Подробнее <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>
        <div class="featured-pic">
            <div class="featured-slide">
                <div class="featured-description">
                    <h2>ЭкоДизайн 2017</h2>
                    <p>7-я Международная конференция.<br> 
                    Японский дизайн, мониторинг глобальных экологических проблем средствами медиа- и графического дизайна.</p>
                    <p><a class="link" href=#!>Подробнее <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="filters">
            <form id="feed-filters">
                <input id="c-all" type="radio" name="filter" value="all" checked>
                <label for="c-all">{% trans 'Все' %}</label>
            {% for category in categories %}
                <input id="c-{{category.id}}" type="radio" name="filter" value="{{category.id}}">
                <label style="border-bottom-color:{{category.color}};" for="c-{{category.id}}">{{category.name_ru}}</label>
            {% empty %}
            {% endfor %}
            </form>
        </div>
        <div class="feed"></div>
    </div>
{% endblock %}
{% block templates %}
{% include "jsrender/news.html" %}
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/jsrender.min.js' %}"></script>
<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
{% endblock %}
{% block backscriptbody %}
{% endblock %}
{% block docready %}
		$.views.settings.delimiters("@%","%@");
        updateFeed();
        $('input[type=radio]').change(function(){
            updateFeed($(this).val());
        });
        $('#featured').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            dots:true,
            arrows:false,
            infinite: true,
        });
{% endblock %}
