{% load i18n %}
{% url 'degree' 'bachelor' as url_bachelor %}
{% url 'degree' 'masters' as url_masters %}
{% with request.resolver_match.url_name as url_name %}
<nav>
    <ul>
        <li class="{% if url_name == 'news' %}active{% endif %}">
            <a href="{% url 'news' %}">
                <span>{% trans 'Новости' %}</span>
                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </a>
        </li>
        <li class="{% if url_name == 'about_ru' or url_name == 'about_en' %}active{% endif %}">
            <a href="{% if LANGUAGE_CODE == 'ru' %}{% url 'about_ru' %}{% else %}{% url 'about_en' %}{% endif %}">
                <span>{% trans 'О кафедре' %}</span>
                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </a>
        </li>
        <li class="{% if url_name == 'applicants' %}active{% endif %}">
            <a href="{% url 'applicants'  %}">
                <span>{% trans 'Абитуриентам' %}</span>
                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </a>
        </li>
        <li class="{% if request.path == url_bachelor %}active{% endif %}">
            <a href="{% url 'degree' 'bachelor' %}">
                <span>{% trans 'Бакалавриат' %}</span>
                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </a>
        </li>
        <li class="{% if request.path == url_masters %}active{% endif %}">
            <a href="{% url 'degree' 'masters' %}">
                <span>{% trans 'Магистратура' %}</span>
                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </a>
        </li>
        <li class="{% if url_name == 'doctoral' %}active{% endif %}">
            <a href=#!>
                <span>{% trans 'Аспирантура' %}</span>
                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </a>
        </li>
        <li class="{% if url_name == 'science' %}active{% endif %}">
            <a href=#!>
                <span>{% trans 'Научная деятельность' %}</span>
                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </a>
        </li>
        <li class="{% if url_name == 'international' %}active{% endif %}">
            <a href=#!>
                <span>{% trans 'Международная деятельность' %}</span>
                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </a>
        </li>
        <li class="{% if url_name == 'labs' %}active{% endif %}">
            <a href=#!>
                <span>{% trans 'Лаборатории' %}</span>
                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </a>
        </li>
        <li class="{% if url_name == 'contacts_ru' or url_name == 'contacts_en' %}active{% endif %}">
            <a href="{% if LANGUAGE_CODE == 'ru' %}{% url 'contacts_ru' %}{% else %}{% url 'contacts_en' %}{% endif %}">
                <span>{% trans 'Контакты' %}</span>
                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </a>
        </li>
        <li>
            <form id="language" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                {% if LANGUAGE_CODE == 'ru' %}
                <input name="language" type="hidden" value="en" />
                <input type="submit" value="In english" />
                {% else %}
                <input name="language" type="hidden" value="ru" />
                <input type="submit" value="По-русски" />
                {% endif %}
            </form>
        </li>
    </ul>
</nav>
{% endwith %}
