{% load staticfiles %}

<div class="carousel">
    {% for pic in carousel %}
    <div class="carousel-item" style="background-image:url({{ pic.pic_url|default_if_none:'#' }})">
        <div class="carousel-content">
            <div>
                <h2>{{pic.title_ru}}</h2>
                <p>{{pic.short_ru}}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="carousel-item" style="background-image:url({% static 'img/carousel/01.jpg' %})"> </div>
    {% endfor %}
</div>    

