{% load staticfiles i18n %}
<nav id="rubric-menu">
    <div id="rubric-headers">
        <a class="rubric-header m-apply">Поступление</a>
        <a class="rubric-header m-department">Кафедра</a>
        <a class="rubric-header m-labs">Лаборатории</a>
        <a class="rubric-header m-students">Студентам</a>
        <a class="rubric-header m-staff">Сотрудникам</a>
        <a class="rubric-header m-eco">Экодизайн</a>
    </div>
    <div id="rubric-content">
        <ul class="m-apply">
            <li><a href="">Дни открытых дверей</a> </li>
            <li><a href="">Подготовительные курсы</a> </li>
            <li><a href="">Олимпиады</a> </li>
            <li><a href="">Бакалавриат</a> </li>
            <li><a href="">Магистратура</a> </li>
            <li><a href="">Аспирантура</a> </li>
        </ul>
        <ul class="m-department">
            <li><a href="">О кафедре</a> </li>
            <li><a href="">Секция начертательной геометрии и инженерной графики</a> </li>
            <li><a href="">Преподаватели</a> </li>
            <li><a href="">Работы студентов</a> </li>
            <li><a href="">Международная деятельность</a> </li>
            <li><a href="">Контакты</a> </li>
        </ul>
        <ul class="m-labs">
            <li><a href="">Визуализации и компьютерной графики</a> </li>
            <li><a href="">Графического дизайна</a> </li>
            <li><a href="">Средового дизайна</a> </li>
            <li><a href="">Промышленного дизайна</a> </li>
            <li><a href="">Человеко-компьютерного взаимодействия</a> </li>
            <li><a href="">Видеомонтажа</a> </li>
        </ul>
        <ul class="m-students">
            <li><a href="">Расписание</a> </li>
            <li><a href="">Документы</a> </li>
        </ul>
        <ul class="m-stuff">
            <li><a href="">Личный кабинет</a> </li>
            <li><a href="">Почта</a> </li>
        </ul>
        <ul class="m-eco">
            <li><a href="">Официальный сайт конференции</a> </li>
        </ul>
    </div>
</nav>
