{% load staticfiles %}
<div class="carousel">
    <div class="carousel-item" style="background-image:url({% static 'img/carousel/01.jpg' %})">
        <div class="carousel-content">
            <div>
                <h2>Дни открытых дверей</h2>
            </div>
        </div>
    </div>
    <div class="carousel-item" style="background-image:url({% static 'img/carousel/02.jpg' %})">
        <div class="carousel-content">
            <div>
                <h2>Дни открытых дверей</h2>
            </div>
        </div>
    </div>
    <div class="carousel-item" style="background-image:url({% static 'img/carousel/03.jpg' %})">
        <div class="carousel-content">
            <div>
                <h2>Дни открытых дверей</h2>
            </div>
        </div>
    </div>
    <div class="carousel-item" style="background-image:url({% static 'img/carousel/04.jpg' %})">
        <div class="carousel-content">
            <div>
                <h2>Дни открытых дверей</h2>
            </div>
        </div>
    </div>
</div>    

