a {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

* {
  margin: 0;
  padding: 0; }

html, body {
  color: #444;
  font-size: 100%; }

html {
  font-family: Source Sans Pro; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eee; }

.header-egd {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url(../img/default/poly.png);
  height: 25rem; }
  .header-egd svg {
    border-left: 1rem solid black;
    width: 40rem;
    height: auto; }
  .header-egd .content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-egd .content .mobile-menu {
      display: block;
      padding: 1rem;
      background-color: white;
      border-right: 1rem solid #fff;
      background-color: #fff;
      text-align: center;
      cursor: pointer; }
      .header-egd .content .mobile-menu span {
        display: block;
        padding-bottom: .3rem; }
      .header-egd .content .mobile-menu i {
        display: block;
        font-size: 2rem; }
    .header-egd .content .mobile-menu:hover {
      background-color: #ccc;
      border-right-color: #000; }

.flatpicture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20rem;
  margin-bottom: 2rem; }

header,
main {
  display: flex;
  justify-content: center; }

header {
  flex-direction: column; }

main {
  flex-grow: 1;
  margin-top: -2rem;
  padding-bottom: 1rem; }

header, main, footer {
  width: 100%; }

footer {
  padding-top: 1rem;
  background-color: #37b34a;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  footer .footer-container {
    flex-grow: 1;
    display: flex;
    justify-content: center; }
    footer .footer-container .footer-content {
      width: 100%;
      max-width: 1200px;
      display: flex;
      flex-wrap: wrap; }
      footer .footer-container .footer-content .address,
      footer .footer-container .footer-content .cumulus {
        color: white;
        width: 100%; }
        footer .footer-container .footer-content .address ul,
        footer .footer-container .footer-content .cumulus ul {
          list-style: none; }
  footer .copy {
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.5); }
    footer .copy p {
      color: white;
      text-align: center; }

a {
  text-decoration: none;
  color: #0088cc; }

a.link {
  color: #444;
  box-shadow: inset 0 -0.3rem 0 #bee1ff;
  border-bottom: 0.1rem solid #bee1ff;
  transition: all 0.3s cubic-bezier(0.79, 0.4, 0.32, 1.84); }

a.link:hover {
  box-shadow: inset 0 -1em 0 #bee1ff; }

.container {
  display: flex;
  width: 100%;
  max-width: 1200px; }
  .container .menu {
    display: none; }
    .container .menu nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .container .menu nav ul li {
        border-bottom: 0.1rem solid #ccc; }
        .container .menu nav ul li a {
          color: #444;
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-left: 1rem solid #fff;
          background-color: #fff; }
        .container .menu nav ul li #language input[type=submit] {
          border: none;
          background: none;
          padding: 1rem;
          margin: 0;
          border-left: 1rem solid #fff;
          background-color: #fff;
          cursor: pointer;
          width: 100%;
          text-align: left; }
        .container .menu nav ul li a:hover,
        .container .menu nav ul li #language input[type=submit]:hover {
          border-left: 1rem solid #000;
          background-color: #ccc; }
      .container .menu nav ul li.active a {
        border-left: 1rem solid #000;
        background-color: #37b34a;
        color: #fff; }
  .container .content {
    width: 100%;
    height: 100%;
    background: white; }
    .container .content ul {
      padding-left: 1rem;
      list-style: none; }
      .container .content ul li:before {
        font-family: 'FontAwesome';
        content: '\f054';
        margin: 0 5px 0 -15px;
        color: #ccc; }
    .container .content .igd-top,
    .container .content .polytech-top {
      display: flex;
      padding: 1rem 1rem 1rem 1rem; }
      .container .content .igd-top .logo,
      .container .content .polytech-top .logo {
        flex-basis: 25%; }
        .container .content .igd-top .logo a img,
        .container .content .polytech-top .logo a img {
          width: 100%; }
      .container .content .igd-top .top-content,
      .container .content .polytech-top .top-content {
        flex-grow: 1; }
    .container .content .igd-top {
      border-top: .1rem solid black;
      border-bottom: .1rem solid black; }

header .header-poly,
header .header-egd {
  display: flex;
  justify-content: center; }
  header .header-poly .content,
  header .header-egd .content {
    flex-basis: 1200px; }
header .header-poly {
  padding: 1rem; }

.news .filters,
.news .feed {
  display: block;
  position: relative;
  width: 100%; }
.news .filters {
  padding-top: 1rem; }
  .news .filters form {
    display: flex;
    justify-content: center;
    align-items: center; }
    .news .filters form input {
      display: none; }
    .news .filters form label {
      cursor: pointer;
      padding: .5rem;
      background: none;
      border: none;
      border-top: 0.1rem solid #eee;
      border-right: 0.1rem solid #eee;
      border-bottom: 0.2rem solid #eee; }
    .news .filters form label[for=c-all] {
      border-left: 0.1rem solid #eee;
      border-radius: .4rem 0 0 .4rem; }
    .news .filters form label:last-child {
      border-radius: 0 .4rem .4rem 0; }
    .news .filters form input:checked + label {
      background-color: #eee; }
.news .feed {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box; }
  .news .feed .feed-item {
    width: 100%;
    padding: .5rem; }
    .news .feed .feed-item .feed-item-rubric {
      padding: .5rem;
      border-top: .2rem solid #ccc; }
      .news .feed .feed-item .feed-item-rubric p {
        text-transform: uppercase;
        color: #888; }
    .news .feed .feed-item .feed-item-title {
      border-top: .1rem solid #eee;
      font-family: Source Serif Pro;
      padding-top: 1rem;
      color: #444; }
    .news .feed .feed-item .feed-item-date {
      padding: .5rem;
      color: #888; }
    .news .feed .feed-item .feed-item-description {
      overflow: hidden;
      text-overflow: ellipsis;
      height: 10rem;
      color: #888; }

.featured-carousel .featured-pic {
  background-image: url(../img/default/default.jpg);
  background-size: cover;
  background-position: center;
  height: 30rem; }
  .featured-carousel .featured-pic .featured-slide {
    height: 100%;
    display: flex;
    justify-content: flex-end; }
    .featured-carousel .featured-pic .featured-slide .featured-description {
      padding: 1rem;
      background-color: rgba(56, 178, 76, 0.75);
      flex-basis: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white; }
      .featured-carousel .featured-pic .featured-slide .featured-description p {
        font-size: 1.2rem;
        text-align: center; }

.units,
.page-title,
.form-title,
.flex-block,
.flatcontent {
  padding: 1rem; }

.units h2 {
  padding: 1rem 0 1rem 0;
  border-top: 0.1rem solid black;
  margin-bottom: 1rem; }

.units h2 + div {
  margin-bottom: 4rem; }

.flex-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .flex-block .flex-card {
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    border-top: 0.3rem solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white; }
    .flex-block .flex-card .title-pic-place {
      width: 100%; }
      .flex-block .flex-card .title-pic-place .title-pic {
        padding-top: 67%;
        background-size: cover;
        background-position: center;
        display: block; }
    .flex-block .flex-card .title-title h3 {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: .2rem solid #eee;
      min-height: 3rem; }
    .flex-block .flex-card .title-content {
      flex-grow: 1;
      border-bottom: .2rem solid #eee;
      padding: 1rem 0; }
    .flex-block .flex-card .title-actions {
      padding: 1rem 1rem 2rem 1rem;
      text-align: center; }

.programm {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem; }
  .programm > .info {
    padding: 1rem 1rem 1rem 0;
    width: 100%;
    order: 1; }
  .programm > .summary {
    order: 0;
    width: 100%; }
    .programm > .summary > .summary-content {
      border-top: 0.3rem solid #ccc;
      background-color: #eee;
      padding: 1rem; }

.programm-images {
  padding: 1rem;
  display: flex;
  justify-content: space-between; }
  .programm-images > .image-container {
    width: 31%; }
    .programm-images > .image-container > .image {
      display: block;
      width: 100%;
      padding-top: 100%;
      background-size: cover;
      background-position: center;
      opacity: .9;
      cursor: pointer; }
    .programm-images > .image-container > .image:hover {
      opacity: 1; }

a.btn {
  padding: .5rem;
  border-radius: .4rem;
  color: #ccc; }

a.btn-white {
  background-color: rgba(255, 255, 255, 0.8); }

a.btn-white:hover {
  background-color: white; }

.drop {
  border-top: 0.2rem solid #ccc;
  border-bottom: 0.2rem solid #ccc;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem; }
  .drop h3 {
    padding-right: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between; }
  .drop h3 + div,
  .drop i {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .drop h3.collapsed {
    padding-bottom: 0; }
  .drop h3.collapsed + div {
    overflow: hidden;
    height: 0; }

@media (min-width: 560px) and (max-width: 767px) {
  .flex-block .flex-card {
    width: 49%; }

  .news .feed .feed-item {
    width: 45%; } }
@media (min-width: 768px) {
  .programm {
    flex-wrap: nowrap; }
    .programm > .info {
      padding-top: 0;
      order: 0;
      width: 70%; }
    .programm > .summary {
      order: 0;
      width: 30%; }

  .news .feed .feed-item {
    width: 30%; } }
@media (min-width: 768px) and (max-width: 919px) {
  .flex-block .flex-card {
    width: 32%; } }
@media (min-width: 920px) and (max-width: 1199px) {
  .flex-block .flex-card {
    width: 24%; } }
@media (min-width: 1200px) {
  .flex-block .flex-card {
    width: 24%; }

  .header-egd .content .mobile-menu {
    display: none; }

  .container .menu {
    display: block;
    width: 25%; }
  .container .content {
    margin-left: 1rem;
    width: 74%; } }

/*# sourceMappingURL=igd.css.map */
