$serif: Source Serif Pro;
$sans: Source Sans Pro;

$fontcolor: #444;
$acolor: #0088cc;
$flexcardcolor: #ccc;
$menubottom: #ccc;
$menuactive: #37b34a;
$menuleftborder: #fff;
$menuleftborderactive: #000;

$borderlight: #eee;
$textlight: #888;
$textactive: #fff;
$textlink: #bee1ff;

$green: rgba(56,178,76,.75);

$bodybackground: #eee;
$contentbackground: white;

//- screens  -//
$min-mobileh: 560px;
$min-tabletv: 768px;
$min-tableth: 920px;
$min-desktop: 1200px;

$max-mobileh: $min-tabletv - 1px;
$max-tabletv: $min-tableth - 1px;
$max-tableth: $min-desktop - 1px;

$container-mobile: 100%;
$container-tablet: $container-mobile;
$container-desktop: $min-desktop;


a{
-webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s;
-o-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
}

* {
	margin: 0;
	padding: 0;
}

html, body{
	color: $fontcolor;
	font-size:100%;
	}

html {
	font-family: $sans;
}

body{
	display:flex;
    min-height:100vh;
	flex-direction:column;
	background-color: $bodybackground;
}


.header-egd{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top center;
    background-image:url(../img/default/poly.png);
    height:25rem;
    svg{
        display:none;
        border-left:1rem solid black;
        width:40rem;
        height:auto;
    }
    .content{
        display:flex;
        justify-content:space-between;
        align-items:center;
        .mobile-menu{
            display:block;
            padding:1rem;
            background-color:white;
			border-right:1rem solid $menuleftborder;
            background-color: $menuleftborder;
            text-align:center;
            cursor:pointer;
            span{
                display:block;
                padding-bottom:.3rem;
            }
            i{
                display:block;
                font-size:2rem;
            }
        }
        .mobile-menu:hover{
            background-color:$menubottom;
            border-right-color:$menuleftborderactive;
        }
    }
}

.flatpicture{
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    height:20rem;
    margin-bottom:2rem;
}

header,
main {
	display:flex;
	justify-content: center;
}

header{
    flex-direction:column;
}

main{
	flex-grow: 1;
    margin-top:-2rem;
    padding-bottom:1rem;
}

header, main, footer {
	width:100%;
	}

footer{
    padding-top:1rem;
    background-color:#37b34a;
    min-height:10rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    .footer-container{
        flex-grow:1;
        display:flex;
        justify-content:center;
        .footer-content{
            width:100%;
            max-width: $container-desktop;
            display:flex;
            flex-wrap:wrap;
            .address,
            .cumulus{
                color:white;
                width:100%;
                ul{
                    list-style:none;
                }
            }
        }
    }
    .copy{
        padding:.5rem;
        background-color:rgba(0,0,0,.5);
        p{
            color:white;
            text-align:center;
        }
    }
}

a{
	text-decoration:none;
	color: $acolor;
}

a.link {
	color: $fontcolor;
	box-shadow: inset 0 -.3rem 0 $textlink;
	border-bottom:.1rem solid $textlink;
	transition: all 0.30s cubic-bezier(0.79, 0.4, 0.32, 1.84);
}

a.link:hover{
	box-shadow: inset 0 -1em 0 $textlink;
}
nav {
	ul {
		list-style:none;
		margin:0;
		padding:0;
		li{
			border-bottom:.1rem solid $menubottom;
			a{
				color:$fontcolor;
				padding:1rem;
				display:flex;
				justify-content:space-between;
		    	align-items:center;	
	    		border-left:1rem solid $menuleftborder;
                background-color: $menuleftborder;
                > span:first-child{
                    margin-right:1rem;
                }
			}
 
            #language input[type=submit]{
                border:none;
                background:none;
                padding:1rem;
                margin:0;
    			border-left:1rem solid $menuleftborder;
                background-color: $menuleftborder;
                cursor:pointer;
                width:100%;
                text-align:left;
            }
				
            a:hover,
            #language input[type=submit]:hover{
   				border-left:1rem solid $menuleftborderactive;
				background-color:$menubottom;
			}
		}
		li.active{
			a{
				border-left:1rem solid $menuleftborderactive;
				background-color:$menuactive;
				color: $textactive;
			}
		}
	}
}

.container{
	display:flex;
    width:100%;
    max-width:$container-desktop;	
    .menu {
	    display:none;
    }
	
	.content {
		width:100%;
        height:100%;
        background:white;
        ul{
            padding-left:1rem;
            list-style:none;
            li:before {    
                font-family: 'FontAwesome';
                content: '\f054';
                margin:0 5px 0 -15px;
                color: #ccc;
            }
        }
		.igd-top,
		.polytech-top{
			display:flex;
			padding:1rem 1rem 1rem 1rem;
			.logo{
				flex-basis:25%;
				a {
					img{
						width:100%;
					}
				}
			}
			.top-content{
				flex-grow:1;
			}
		}

		.igd-top{
			border-top:.1rem solid black;
			border-bottom:.1rem solid black;
		}

	}
}

header{
    .header-poly,
    .header-egd{
        display:flex;
        justify-content:center;
        .content{
            flex-basis:$container-desktop;
        }
    }
    .header-poly{
        padding:1rem;
    }
    .header-egd{
    }
}

.news{
	.filters,
	.feed{
		display:block;
		position:relative;
		width:100%;
	}
	.filters{
        padding-top:1rem;
        form{
            display:flex;
            justify-content:center;
            align-items:center;
            input{
                display:none;
            }
            label{
                cursor:pointer;
                padding:.5rem;
                background:none;
                border:none;
                border-top:.1rem solid $borderlight;
                border-right:.1rem solid $borderlight;
                border-bottom:.2rem solid $borderlight;
            }
            
            label[for=c-all]{
                border-left:.1rem solid $borderlight;
                border-radius:.4rem 0 0 .4rem;
            }
            label:last-child{
                border-radius:0 .4rem .4rem 0;
            }

            input:checked + label{
                background-color:#eee;
            }
        }
    }
    .feed{
        display:flex;
		padding: 1rem;
		flex-wrap:wrap;
		justify-content:space-between;
        box-sizing: border-box;
		.feed-item{
			width:100%;
			padding:.5rem;
			.feed-item-rubric{
			    padding:.5rem;
				border-top:.2rem solid #ccc;
				p{
					text-transform:uppercase;
					color: $textlight;
				}
			}
			.feed-item-title{
				border-top:.1rem solid #eee;
				font-family: $serif;
				padding-top:1rem;
				color:$fontcolor;
			}
			.feed-item-date{
				padding:.5rem;
				color:$textlight;
			}
			.feed-item-description{
                overflow:hidden;
                text-overflow: ellipsis;
                height:10rem;
                color:$textlight;
            }
		}
	}
}

.featured-carousel{
    .featured-pic{
        background-image:url(../img/default/default.jpg);
        background-size:cover;
        background-position:center;
        height:30rem;
        .featured-slide{
            height:100%;
            display:flex;
            justify-content:flex-end;
            .featured-description {
                padding:1rem;
                background-color:$green;
                flex-basis:33%;
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                color:white;
                p{
                    font-size:1.2rem;
                    text-align:center;
                }
            }
        }
    }
}

.units,
.page-title,
.form-title,
.flex-block,
.flatcontent{
    padding:1rem;
}

$unitborder: .1rem solid black;

.units h2{
    padding:1rem 0 1rem 0;
    border-top: $unitborder;
    margin-bottom:1rem;
}

.units h2 + div{
    margin-bottom:4rem;
}

$flexborder: .5rem solid #fff;

.flex-block{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    .flex-card{
        margin-bottom:1rem;
        width:100%;
        box-sizing: border-box;
        border-top:.3rem solid $flexcardcolor;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        background-color:white;
        .title-pic-place{
            width:100%;
            .title-pic{
                padding-top:67%;
                background-size:cover;
                background-position:center;
                display:block;
            }
        }
        .title-title{
            h3 {
                padding-top:1rem;
                padding-bottom:1rem;
                border-bottom:.2rem solid #eee;
                min-height:3rem;
            }
        }
        .title-content{
            flex-grow:1;
            border-bottom:.2rem solid #eee;
            padding:1rem 0;
        }
        .title-actions{
            padding: 1rem 1rem 2rem 1rem;
            text-align:center;
        }
    }
}

.programm{
    display:flex;
    flex-wrap:wrap;
    padding:1rem;
    > .info{
       padding:1rem 1rem 1rem 0;
       width:100%;
       order:1; 
    }
    > .summary{
        order:0;
        width:100%;
        > .summary-content{
            border-top:.3rem solid $flexcardcolor;
            background-color:#eee;
            padding:1rem; 
        }
    }
}

.programm-images{
    padding:1rem;
    display:flex;
    justify-content:space-between;
    > .image-container{
        width: 31%;
        > .image{
            display:block;
            width:100%;
            padding-top:100%;
            background-size:cover;
            background-position:center;
            opacity:.9;
            cursor:pointer;   
        }

        > .image:hover{
            opacity:1;
        }
    }
}

a.btn{
    padding:.5rem;
    border-radius:.4rem;
    color:$flexcardcolor;
}

a.btn-white{
    background-color:rgba(255,255,255,.8);
}

a.btn-white:hover{
    background-color:white;
}

$bropborder: .2rem solid #ccc;

.drop{
    border-top:$bropborder;
    border-bottom:$bropborder;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-top:1rem;
    h3{
        padding-right:1rem;
        padding-bottom:1rem;
        cursor:pointer;
        display:flex;
        justify-content:space-between;
    }
    h3 + div,
    i{
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }
    h3.collapsed{
        padding-bottom:0;
    }
    h3.collapsed + div{
        overflow:hidden;
        height:0;
    }
    
}

.modal{
    display:none;
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2000;
    top: 0;
    background-color:rgba(0,0,0,.5);
    > .modal-wrapper{
        margin:0 auto 0 auto;
        display:flex;
        justify-content:center;
        align-items:center;
        position:relative;
        min-height:100vh;
        > .modal-container{
            
        }
    }
}


@media (min-width:$min-mobileh) and (max-width:$max-mobileh) {
    .flex-block{
        .flex-card{
            width:49%
        }
    }
    .news{
        .feed{
            .feed-item{
                width:45%;
            }
        }
    }
}
@media (min-width:$min-tabletv){
    .programm{
        flex-wrap:nowrap;
        > .info{
            padding-top:0;
            order:0;
            width:70%;
        }
        > .summary{
            order:0;
            width:30%;
        }
    }
    .news{
        .feed{
            .feed-item{
                width:30%;
            }
        }
    }
    .header-egd{
        svg{
            display:block;
        }
    }
}
@media (min-width:$min-tabletv) and (max-width:$max-tabletv) {
    .flex-block{
        .flex-card{
            width:32%
        }
    }
}
@media (min-width:$min-tableth) and (max-width:$max-tableth) {
    .flex-block{
        .flex-card{
            width:24%
        }
    }
}
@media (min-width:$min-desktop) {
    .flex-block{
        .flex-card{
            width:24%
        }
    }
    .header-egd{
        .content{
            .mobile-menu{
                display:none;
            }
        }
    }
    .container{
        .menu{
            display:block;
            width:25%;
        }
        .content{
            margin-left:1rem;
            width:74%;
        }
    }
}
