$serif: Source Serif Pro;
$sans: Source Sans Pro;

$fontcolor: #444;
$acolor: #0088cc;
$flexcardcolor: #eee;
$menubottom: #ccc;
$menuactive: #37b34a;
$menuleftborder: #fff;
$menuleftborderactive: #000;

$borderlight: #eee;
$textlight: #888;
$textactive: #fff;
$textlink: #bee1ff;

$green: rgba(56,178,76,.75);

$bodybackground: #eee;
$contentbackground: white;

//- screens  -//
$min-mobileh: 560px;
$min-tabletv: 768px;
$min-tableth: 920px;
$min-desktop: 1200px;

$max-mobileh: $min-tabletv - 1px;
$max-tabletv: $min-tableth - 1px;
$max-tableth: $min-desktop - 1px;

$container-mobile: 100%;
$container-tablet: $container-mobile;
$container-desktop: 1200px;


a{
-webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s;
-o-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
}

* {
	margin: 0;
	padding: 0;
}

html, body{
	color: $fontcolor;
	font-size:100%;
	}

html {
	font-family: $sans;
}

body{
	display:flex;
    min-height:100vh;
	flex-direction:column;
	background-color: $bodybackground;
}

.header-egd{
    padding-top:5rem;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top center;
    background-image:url(../img/default/poly.png);
    height:20rem;
    svg{
        border-left:1rem solid black;
    }
}

header,
main {
	display:flex;
	justify-content: center;
}

header{
    flex-direction:column;
}

main{
	flex-grow: 1;
    margin-top:-2rem;
}

header, main, footer {
	width:100%;
	}

a{
	text-decoration:none;
	color: $acolor;
}

a.link {
	color: $fontcolor;
	box-shadow: inset 0 -.3rem 0 $textlink;
	border-bottom:.1rem solid $textlink;
	transition: all 0.30s cubic-bezier(0.79, 0.4, 0.32, 1.84);
}

a.link:hover{
	box-shadow: inset 0 -1em 0 $textlink;
}

.container{
	display:flex;
	flex-grow:1;
	
	.menu {
		flex-basis: 25%;
		width:100%;
		display:none;
		nav {
			ul {
				list-style:none;
				margin:0;
				padding:0;
				li{
					border-bottom:.1rem solid $menubottom;
					a{
						color:$fontcolor;
						padding:1rem;
						display:flex;
						justify-content:space-between;
						align-items:center;	
						border-left:1rem solid $menuleftborder;
                        background-color: $menuleftborder;
					}

                    #language input[type=submit]{
                        border:none;
                        background:none;
                        padding:1rem;
                        margin:0;
						border-left:1rem solid $menuleftborder;
                        background-color: $menuleftborder;
                        cursor:pointer;
                        width:100%;
                        text-align:left;
                    }
					
                    a:hover,
                    #language input[type=submit]:hover{
						border-left:1rem solid $menuleftborderactive;
						background-color:$menubottom;
					}
				}
				li.active{
					a{
						border-left:1rem solid $menuleftborderactive;
						background-color:$menuactive;
						color: $textactive;
					}
				}
			}
		}
	}
	
	.content {
        margin-left:1rem;
		flex-basis:70%;
        height:100%;
        background:white;
		.igd-top,
		.polytech-top{
			display:flex;
			padding:1rem 1rem 1rem 1rem;
			.logo{
				flex-basis:25%;
				a {
					img{
						width:100%;
					}
				}
			}
			.top-content{
				flex-grow:1;
			}
		}

		.igd-top{
			border-top:.1rem solid black;
			border-bottom:.1rem solid black;
		}

	}
}

header{
    .header-poly,
    .header-egd{
        display:flex;
        justify-content:center;
        .content{
            flex-basis:$container-desktop;
        }
    }
    .header-egd{
    }
}

.news{
	.filters,
	.feed{
		display:block;
		position:relative;
		width:100%;
	}
	.filters{
        padding-top:1rem;
        form{
            display:flex;
            justify-content:center;
            align-items:center;
            input{
                display:none;
            }
            label{
                cursor:pointer;
                padding:.5rem;
                background:none;
                border:none;
                border-top:.1rem solid $borderlight;
                border-right:.1rem solid $borderlight;
                border-bottom:.2rem solid $borderlight;
            }
            
            label[for=c-all]{
                border-left:.1rem solid $borderlight;
                border-radius:.4rem 0 0 .4rem;
            }
            label:last-child{
                border-radius:0 .4rem .4rem 0;
            }

            input:checked + label{
                background-color:#eee;
            }
        }
    }
    .feed{
        display:flex;
		padding: 1rem;
		flex-wrap:wrap;
		justify-content:space-between;
        box-sizing: border-box;
		.feed-item{
			flex-basis:30%;
			padding:.5rem;
			.feed-item-rubric{
			    padding:.5rem;
				border-top:.2rem solid #ccc;
				p{
					text-transform:uppercase;
					color: $textlight;
				}
			}
			.feed-item-title{
				border-top:.1rem solid #eee;
				font-family: $serif;
				padding-top:1rem;
				color:$fontcolor;
			}
			.feed-item-date{
				padding:.5rem;
				color:$textlight;
			}
			.feed-item-description{
                overflow:hidden;
                text-overflow: ellipsis;
                height:10rem;
                color:$textlight;
            }
		}
	}
}

.slick {
    div{
        background-size:cover;
        background-position:center;
        display:block;
        height:30rem;
        .slide{
            display:flex;
            justify-content:flex-end;
            .description {
                padding:1rem;
                background-color:$green;
                flex-basis:33%;
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                color:white;
                p{
                    font-size:1.2rem;
                    text-align:center;
                }
            }
        }
    }
    .default{
        background-image:url(../img/default/default.jpg);
    }
}

.units,
.page-title,
.flex-block,
.flatcontent{
    padding:1rem;
}

$unitborder: .1rem solid black;

.units h2{
    padding:1rem 0 1rem 0;
    border-top: $unitborder;
    margin-bottom:1rem;
}

.units h2 + div{
    margin-bottom:4rem;
}

$flexborder: .5rem solid #fff;

.flex-block{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    .flex-block-card{
        margin-bottom:1rem;
        width:32%;
        box-sizing: border-box;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        background-color:$flexcardcolor;
        border:.3rem solid $flexcardcolor;
        .title-pic-place{
            width:100%;
            .title-pic{
                padding-top:100%;
                background-size:cover;
                background-position:center;
                display:block;
            }
        }
        .title-content{
            flex-grow:1;
            padding:1rem;
            h3 {
                margin-bottom:1rem;
            }
        }
        .title-actions{
            padding: 0 1rem 1rem 1rem;
        }
    }
}

.programm{
    display:flex;
    padding:1rem;
    .info{
       padding:1rem;
       width:70%; 
    }
    .summary{
        width:30%;
        .summary-content{
            border-top:.3rem solid $flexcardcolor;
            background-color:#eee;
            padding:1rem; 
        }
    }
}

@media (min-width:$min-mobileh) and (max-width:$max-mobileh) {}
@media (min-width:$min-tabletv) and (max-width:$max-tabletv) {}
@media (min-width:$min-tableth) and (max-width:$max-tableth) {
	.container{.menu{display:block;}}
}
@media (min-width:$min-desktop) {
	.container{flex-basis:$container-desktop;flex-grow:0; .menu{display:block;}}
}
